@import "../../../style/Style.scss";

.servicos {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: $fonte-principal;
        color: $cor-texto-secundaria;

        @media(max-width: $tablet-largura-maxima) {
            padding-top: 2rem;
        }

        @media(min-width: $desktop-largura-minima) {
            padding-top: 5vh;
        }
    }

    .background-servicos {
        @media(max-width: $celular-largura-maxima) {
            display: flex;
            flex-direction: column;

            .fotos{

                animation: slideIn 1s forwards;
            }


            .foto-1,
            .foto-2,
            .foto-3,
            .foto-4 {
                padding: 5vw;
                width: 90vw;
            }
        }

        @media(min-width: $tablet-largura-minima) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-around;

            @keyframes slideIn {
                from {
                    opacity: 0;
                    transform: translateX(100%);
                }

                to {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            .animado {
                animation: slideIn 2s forwards;
            }

            .foto-1,
            .foto-2,
            .foto-3,
            .foto-4 {
                max-height: 30vh;
                height: auto;
                padding: 1.5rem;
                transition: transform 0.3s;

                cursor: pointer;
            }

            .foto-1:hover,
            .foto-2:hover,
            .foto-3:hover,
            .foto-4:hover {
                transform: scale(1.1);

                filter: drop-shadow(0 0 10px #00000070);
            }
        }
    }
}

.card-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet-largura-maxima) {
        position: fixed;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 100vh;

        .card-foto {
            p {
                position: absolute;
                padding-right: 1rem;
            }

            .fotos-desktop {
                visibility: hidden;
            }
        }
    }
}

.card-vinilico,
.card-laminado,
.card-boieserie,
.card-rodape {
    position: fixed;
    background-color: $cor-branca;
    padding: 20px;
    z-index: 10;
    width: 60%;
    max-width: 500px;
    border-radius: 12px;

    .titulo-card {
        font-family: $fonte-principal;
        color: $cor-texto-secundaria;

        display: flex;
        justify-content: center;
    }

    .card-foto {
        display: flex;
        align-items: center;

        .fotos-desktop {
            display: flex;
            justify-content: center;
            width: 50%;
            padding: 2rem 1rem;

            .foto-desktop {
                width: 20vw;

                border-radius: 1rem;
            }

        }
    }

    p {
        font-family: $fonte-secundaria;
        color: $cor-texto-secundaria;

        margin-top: 15px;
        text-align: center;

        @media (min-width: $desktop-largura-minima) {
            width: 50%;

            padding-right: 3.5rem;

            font-size: 12pt;
        }
    }
}

.fechar-card {
    display: flex;
    justify-content: end;
    width: 100%;

    font-family: $fonte-secundaria;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}