@import "../../../style/Style.scss";

.background {
    background: radial-gradient(circle, rgba(124, 124, 124, 1) 5%, rgba(0, 0, 0, 1) 75%);

    width: 100vw;
    z-index: 0;

    .posicionamento-logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;

        position: absolute;
        z-index: 1;
    }
    
    .posicionamento-foto {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;

        position: absolute;
        z-index: 2;
    }
    
    .posicionamento-texto {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;

        position: absolute;
        z-index: 3;

        .texto {
            font-family: $fonte-principal;
            color: #FFFFFF75;
            letter-spacing: 2rem;
        }
    }
    
    @media (max-width: $tablet-largura-maxima) {
        height: 80vh;

        .logo {
            max-width: 80vw;
            padding-top: 10rem;
        }

        .foto {
            max-width: 100vw;
            margin-bottom: 45vw;
        }

        .texto {
            font-size: 20vw;
            margin-bottom:calc(20% + 45vw);
            padding-left: 2rem;
        }
    }
    
    @media (min-width: $desktop-largura-minima) {
        height: 100vh;

        .logo {
            max-width: 100vw;
            width: 55%;
        }
        
        .foto {
            max-width: 100vw;
            height: 80%;
        }

        .texto {
            font-size: 20vw;
            margin-bottom: 10%;
        }
    }
}