.whatsapp {
    position: absolute;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: end;
    align-items: end;

    background-color: rgba(0, 0, 0, 0);

    a.whatsapp {
        img.whatsapp {
            width: 7vw;
            height: auto;

            padding: 1.5rem;

            z-index: 1000;

            &:hover {
                filter: drop-shadow(0 0 3px #00000064);
            }
        }
    }
}