.whatsapp {
    position: fixed;
    z-index: 10000;

    a.whatsapp {
        img.whatsapp {
            bottom: 0.5rem;
            right: 0.5rem;

            min-width: 45px;
            width: 5vw;
            height: auto;


            &:hover {
                filter: drop-shadow(0 0 3px #00000064);
            }
        }
    }
}