@import "../../style/Style.scss";

nav {
    min-width: 100vw;
    background-color: $cor-principal;
    color: $cor-texto-principal;
    
    @media (min-width: $celular-largura) {
        
    }
    @media (min-width: $tablet-largura) {
        
    }
    @media (min-width: $desktop-largura) {
        
        .navigation {
            display: flex;
            height: 65px;
            justify-content: end;
            align-items: center;
            font-size: 16pt;
            font-family: $fonte-principal;
            font-weight: $fonte-bold;

            li {
                margin-right: 10px;
            }

        }

    }
}
