@import "../../style/Style.scss";

nav {
    background-color: $cor-principal;

    width: 100vw;

    z-index: 1000;

    position: sticky;
    top: 0;

    @media (max-width: $tablet-largura-maxima) {
        background: linear-gradient(90deg, $cor-branca 0%, $cor-principal 100%);

        position: sticky;
        top: 0;

        .navbar {
            height: 10vh;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .logo {
                width: 30%;
                justify-content: end;
            }

            .navigation,
            .navigation-cel {
                display: none;
            }

            .mostrarIcone {
                display: flex;
            }

            .ocultarIcone {
                display: none;
            }

            .menuOpen {
                width: 100vw;
                position: absolute;
                display: flex;
                flex-direction: column;

                margin-top: 61%;
                background-color: #0000008b;
                z-index: 2000;

                li {
                    padding: 0.75rem;

                    a {
                        display: flex;
                        justify-content: center;

                        font-family: $fonte-principal;
                        color: $cor-texto-principal;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @media (min-width: $desktop-largura-minima) {
        background: linear-gradient(90deg, $cor-branca 0%, $cor-principal 40%);

        .menuOpen,
        .navigation-cel,
        .iconeMenu,
        .iconeFecharMenu {
            display: none;
        }

        .navbar {
            height: 85px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .logo {
                height: 75px;
                width: auto;
                padding: 1rem;
            }

            .navigation {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                li {
                    a {
                        margin-right: 20px;
                        text-decoration: none;
                        font-family: $fonte-principal;
                        color: $cor-texto-principal;
                        font-size: 18pt;
                    }

                    a:hover {
                        text-decoration: underline;

                        filter: drop-shadow(0 0 10px #000000);
                    }
                }
            }
        }
    }

    .telefone {
        @media (max-width: $celular-largura-maxima) {
            display: none;
        }

        display: flex;
        align-items: center;
        padding-right: 1rem;

        a {
            text-decoration: none;
        }
        
        .subtitulo {
            width: 150px;
            
            text-decoration: none;
            font-family: $fonte-principal;
            color: $cor-texto-principal;
        }

        img {
            width: 50px;
            padding: 0;
        }
    }

    img {
        width: 30px;
        padding-right: 1rem;
    }
}