@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

//CORES
$cor-principal: #FF7604;
$cor-secundaria: #969795;

$cor-texto-principal: #EEEEEE;

//FONTE
$fonte-principal: "Hanken Grotesk";
$fonte-thin: 100;
$fonte-light: 300;
$fonte-regular: 500;
$fonte-bold: 700;
$fonte-extra-bold: 900; 

//TAMANHO DE TELA
$celular-largura: 320px;
$tablet-largura: 481px;
$desktop-largura: 769px;