@import "../../../style/Style.scss";

.contato {
    .fundo {
        width: 100vw;
        
        @media(max-width: $tablet-largura-maxima) {
            height: 50vh;
        }
        
        @media(min-width: $desktop-largura-minima) {
            height: 75vh;
        }

        position: absolute;

        background-color: #00000042;

        z-index: 0;
    }

    h1 {
        z-index: 2;
        text-shadow: 0 0 15px #00000050;

        color: $cor-texto-principal;
    }

    width: 100vw;

    background-image: url("https://github.com/joosilva/aperfeito_pisos/blob/main/assets/wood_texture.jpg?raw=true");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-family: $fonte-principal;
    color: $cor-texto-secundaria;
    
    @media(max-width: $tablet-largura-maxima) {
        height: 50vh;
    }
    
    @media(min-width: $desktop-largura-minima) {
        height: 75vh;
    }

    .botao-1 {
        background-color: $cor-principal;
    }

    .botao-2 {
        background-color: $cor-secundaria;

        &:hover {
            background-color: $cor-principal;
        }
    }

    button {
        border-radius: 2rem;
        margin: 1.5rem 0;
        padding: 0.5rem 1rem;

        display: flex;
        align-items: center;

        z-index: 2;

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
                box-shadow: (0 5px 10px #00000064);
            }
            100% {
                transform: scale(1);
            }
        }

        &:hover {
            background-color: $cor-secundaria;
            animation-name: pulse;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            text-decoration: underline;
            text-decoration-color: $cor-texto-principal;

            &a:hover {
                color: $cor-texto-secundaria;
            }
        }

        a {
            color: $cor-texto-principal;
            text-decoration: none;
        }

        img {
            width: 26px;
            height: auto;
        }

        .email {
            width: 20px;
            height: auto;
            margin-left: 0.2rem;
        }
    }

    .redes {
        display: flex;
        justify-content: center;

        width: 100vw;

        a {
            z-index: 2;
        }

        img {
            width: 46px;
            padding: 0 1rem;

            z-index: 2;
        }
    }
}